#shopcarContent {
    margin-top: 20px;
}

#shopcarContent .shopcar_main {
    padding: 30px 30px 100px;
    background-color: #fff;
}

#shopcarContent .shopcar_main #shopcar_title table {
    border-collapse: collapse;
}




#shopcarContent .shopcar_main #shopcar_title thead tr {
    border: 1px solid #ddd;
    background-color: #fafafa;
}
#shopcarContent .shopcar_main #shopcar_title th {
    height: 54px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    padding: 16px;
}
#shopcarContent .shopcar_main #shopcar_title tr input{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0,0,0,0.3);
    
}
#shopcarContent .shopcar_main #shopcar_title tbody tr:hover{
    background-color: #cdf0cf;
}
#shopcarContent .shopcar_main #shopcar_title tbody td{
    padding: 16px;
}
#shopcarContent .shopcar_main #shopcar_title tbody tr .tdfirst{
    padding: 16px;
}

#shopcarContent .shopcar_main #shopcar_title tbody tr .tdsecond img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    vertical-align: top;
}

#shopcarContent .shopcar_main #shopcar_title tbody tr .tdsecond .shopcar_listmsg{
   display: inline-block;
   height: 40px;
   width: 393px;
   font-size: 14px;
   margin: 20px 0;
   overflow: hidden;
   color: rgba(0,0,0,.65);
}
#shopcarContent .shopcar_main #shopcar_title tbody tr .tdthird{
    font-size: 14px;
    color: rgba(0,0,0,.65);
}
#shopcarContent .shopcar_main #shopcar_title tbody tr .tdfourth input{
    width: 58px;
    height: 30px;
    border-radius: 3px;
}
#shopcarContent .shopcar_main #shopcar_title tbody tr .tdfifth{
    color: #ea6258;
    font-size: 14px;
    font-weight: 600;
}
#shopcarContent .shopcar_main #shopcar_title tbody tr .tdsixth a{
    color: #4caf50;
    font-size: 16px;
    cursor: pointer;
}


#shopcarContent .shopcar_main #shopcar_title #shopcarNull{
    height: 300px;
    text-align: center;
    color: #ccc;
    line-height: 300px;
}
#shopcarContent .shopcar_main #shopcar_title #shopBottom{
    display: flex;
    height: 66px;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 40px;
    background-color: #f7f7f7;
    border: 1px solid #e8e8e8;
}

#shopcarContent .shopcar_main #shopcar_title #shopBottom #sb_left a{
    display: block;
    color: #4caf50;
    height: 66px;
    line-height: 66px;
}

#shopcarContent .shopcar_main #shopcar_title #shopBottom #sb_right {
    display: flex;

}
#shopcarContent .shopcar_main #shopcar_title #shopBottom #sb_right span{
    color: #e4393c;
    font-weight: 700;
    font-size: 18px;
    line-height: 66px;
}
#shopcarContent .shopcar_main #shopcar_title #shopBottom #sb_right button{
    color: rgba(0,0,0,.25);
    font-size: 16px;
    height: 64px;
    width: 150px;
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    border-left: 1px solid #d9d9d9;
    margin-left: 15px;
    cursor: pointer;
}
